.results-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.results-left h1 {
  color: rgba(51, 52, 97, 1);
  font-size: 48px;
  font-weight: 800;
  line-height: 58px;
  letter-spacing: -2%;
  text-align: left;
  max-width: 544px;
  width: 100%;
  margin-bottom: 24px;
}

.results-subtext {
  color: rgba(74, 85, 108, 0.7);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  max-width: 540px;
  width: 100%;
  margin-bottom: 40px;
}
.results-left input {
  box-sizing: border-box;
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: rgba(255, 255, 255, 1);
  color: rgba(102, 112, 133, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  max-width: 299px;
  width: 100%;
  padding: 0 12px;
  min-height: 48px;
  margin-bottom: 20px;
}

.results-text {
  color: rgba(102, 112, 133, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 20px;
}
.results-text {
  display: flex;
  align-items: center;
  gap: 5px;
}
.results-text span {
  border-bottom: 2px solid #ccc;
  cursor: pointer;
  transition: 0.2s ease;
}

.results-text span:hover {
  color: black;
  border-bottom: 2px solid #000000;
}

.results-left button {
  box-sizing: border-box;
  border: 1px solid rgba(32, 173, 150, 1);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: rgba(32, 173, 150, 1);
  max-width: 299px;
  width: 100%;
  min-height: 48px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}
.results-img {
  max-width: 500px;
  width: 100%;
  max-height: 600px;
}

.results-right {
  background: rgba(250, 248, 246, 1);
  max-width: 650px;
  min-height: 670px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.results-link {
  text-decoration: none;
  color: rgba(102, 112, 133, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}
@media screen and (max-width: 1200px) {
  .results-left h1 {
    margin-top: 50px;
    font-size: 35px;
    line-height: 50px;
  }
  .results-subtext {
    font-size: 16px;
  }
  .results-right {
    margin-top: 40px;
    max-width: 500px;
    padding: 0;
  }
  .results-right img {
    max-width: 500px;
    width: 100%;
  }
  .results-right {
    background: transparent;
  }
}
@media screen and (max-width: 500px) {
  .results-left h1 {
    margin-top: 50px;
    font-size: 35px;
    line-height: 50px;
  }
  .results-subtext {
    font-size: 16px;
  }
  .results-right {
    margin-top: 0;
    padding: 0;
  }
  .results-img {
    object-fit: contain;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .results-left h1 {
    margin-top: 50px;
    font-size: 35px;
    line-height: 50px;
  }
  .results-subtext {
    font-size: 16px;
  }
  .results-right {
    margin-top: 40px;
    padding: 0;
  }
  .result-right-img-box {
    height: 0;
  }
}
