.life-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 96px;
  flex-wrap: wrap;
}
.life-inside {
  position: relative;
}
.Life {
  position: relative;
  margin-top: 70px;
  background: rgba(250, 248, 246, 1);
  margin-bottom: 440px;
}
.life-video {
  position: absolute;
  top: 380px;
  left: 350px;
  max-width: 580px;
  width: 100%;
  position: absolute;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1200px) {
  .life-video {
    position: absolute;
    top: 380px;
    /* left: 190px; */
    right: 0;
  }
  .Life {
    position: relative;
    margin-top: 70px;
    background: rgba(250, 248, 246, 1);
    margin-bottom: 400px;
  }
}
@media screen and (max-width: 1100px) {
  .life-video {
    position: absolute;
    top: 630px;
    /* left: 100px; */
    right: 0;
  }
}
@media screen and (max-width: 1030px) {
  .life-bottom {
    position: absolute;
    /* top: 620px; */
    left: 40px;
    right: 0;
  }
  .Life {
    margin-bottom: 400px;
  }
}
@media screen and (max-width: 700px) {
  .life-video {
    position: absolute;
    max-width: 380px;
    max-height: 200px;
    width: 100%;
  }
  .Life {
    margin-bottom: 344px;
  }
}
@media screen and (max-width: 500px) {
  .life-video {
    position: absolute;
    top: 640px;
    max-width: 380px;
    max-height: 200px;
    width: 100%;
  }
  .Life {
    margin-bottom: 344px;
  }
}
@media screen and (max-width: 400px) {
  .life-video {
    position: absolute;
    max-width: 300px;
    max-height: 170px;
    top: 670px;
    right: 0;
  }
}
