  .life-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 96px;
    flex-wrap: wrap;
  }

  .Life {
    position: relative;
    margin-top: 70px;
    background: rgba(250, 248, 246, 1);
    margin-bottom: 440px;
  }
  .life-bottom {
    position: absolute;
    top: 350px;
    left: 350px;
    right: 0;
  }
  .life-bottom img {
    max-width: 768px;
    width: 100%;
  }
  @media screen and (max-width: 1200px) {
    .life-bottom {
      position: absolute;
      top: 360px;
      left: 190px;
      right: 0;
    }
    .Life {
      position: relative;
      margin-top: 70px;
      background: rgba(250, 248, 246, 1);
      margin-bottom: 400px;
    }
  }
  @media screen and (max-width: 1000px) {
    .life-bottom {
      position: absolute;
      top: 610px;
      left: 100px;
      right: 0;
    }
  }
  @media screen and (max-width: 1030px) {
    .life-bottom {
      position: absolute;
      top: 620px;
      left: 40px;
      right: 0;
    }
    .Life {
      margin-bottom: 400px;
    }
  }
  @media screen and (max-width: 700px) {
    .life-bottom {
      position: absolute;
      top: 620px;
      left: 10px;
      right: 0;
    }
    .Life {
      margin-bottom: 344px;
    }
  }
  @media screen and (max-width: 600px) {
    .life-bottom {
      position: absolute;
      top: 730px;
      left: 10px;
      right: 0;
    }
    .Life {
      margin-bottom: 344px;
    }
  }
  @media screen and (max-width: 500px) {
    .life-bottom {
      position: absolute;
      top: 660px;
      left: 10px;
      right: 0;
    }
  }
  @media screen and (max-width: 507px) {
    .life-bottom {
      position: absolute;
      top: 680px;
      left: 10px;
      right: 0;
    }
  }
  @media screen and (max-width: 552px) {
    .life-bottom {
      position: absolute;
      top: 620px;
      left: 10px;
      right: 0;
    }
  }
  @media screen and (max-width: 400px) {
    .life-bottom {
      position: absolute;
      top: 670px;
      left: 10px;
      right: 0;
    }
  }
  @media screen and (max-width: 320px) {
    .life-bottom {
      position: absolute;
      top: 820px;
      left: 10px;
      right: 0;
    }
  }
