.notified {
  margin-top: 120px;
  background: rgba(250, 248, 246, 1);
  padding: 48px 0;
}
.notified-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.notified-left h2 {
  color: rgba(51, 52, 97, 1);
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  margin-bottom: 16px;
}
.notified-left p {
  color: rgba(74, 85, 108, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}

.notified-right input {
  background: rgba(255, 255, 255, 1);
  max-width: 280px;
  width: 100%;
  min-height: 44px;
  color: rgba(74, 85, 108, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 10px 14px;
  box-sizing: border-box;
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: rgba(255, 255, 255, 1);
  max-width: 280px;
  width: 100%;
  flex: 0 0 280px;
}

.notified-right {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.notified-right button {
  box-sizing: border-box;
  border: 1px solid rgba(32, 173, 150, 1);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: rgba(32, 173, 150, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  max-width: 150px;
  width: 100%;
  min-height: 44px;
  padding: 10px 36px;
}
.notified-right_form {
  display: flex;
  gap: 20px;flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .notified-left p {
    margin-bottom: 30px;
  }
}
