.SturTups {
  margin-top: 96px;
  text-align: center;
}
.sturtups-top p {
  color: rgba(102, 112, 133, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

.sturtups-bottom {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 96px;
  flex-wrap: wrap;
}
.sturtups-bottom img {
  border: 2px solid transparent;
  padding: 25px;
  min-height: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .sturtups-bottom img {
    padding: 10px 10px;
  }
}

@media screen and (max-width: 500px) {
  .sturtups-bottom img {
    padding: 20px 0;
  }
  .sturtups-bottom img {
    border: 2px solid transparent;
    padding: 25px;
    cursor: pointer;
  }
}
