.Articles {
  margin-top: 70px;
}
.articles-title {
  color: rgba(51, 52, 97, 1);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -1%;
  text-align: center;
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  word-spacing: 10px;
}
.articles-bottom_card-top img {
  display: block;
}
.articles-bottom_card-bottom h3 {
  color: rgba(51, 52, 97, 1);
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -3%;
  max-width: 300px;
  width: 100%;
}

.articles-bottom_card-bottom {
  box-sizing: border-box;
  border: 1px solid rgba(237, 239, 245, 1);
  background: rgba(255, 255, 255, 1);
  max-width: 356px;
  width: 100%;
  padding: 24px 28px;
}

.articles-bottom_card-bottom p {
  color: rgba(74, 85, 108, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
  margin-top: 12px;
  max-width: 300px;
  width: 100%;
}

.artciles-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 63px;
  flex-wrap: wrap;
}
.articles-btn {
  border-radius: 10px;
  background: rgba(32, 173, 150, 1);
  max-width: 250px;
  width: 100%;
  min-height: 42px;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  color: white;
}

@media screen and (max-width: 1200px) {
  .articles-bottom_card {
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 800px) {
  .articles-bottom_card {
    margin: 0 auto;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 700px) {
  .articles-bottom_card {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .articles-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
  }
}
@media screen and (max-width: 500px) {
  .articles-bottom_card {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .articles-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
  }
}
