.Particular {
  margin-top: 104px;
}
.partuclar-top h2 {
  color: rgba(51, 52, 97, 1);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -1%;
  text-align: center;
  max-width: 680px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 76px;
}
.particular-bottom_card {
  box-sizing: border-box;
  border: 1px solid rgba(237, 239, 245, 1);
  background: rgba(255, 255, 255, 1);
  max-width: 450px;
  width: 100%;
  min-height: 360px;
  padding: 56px 50px;
  margin: 0 auto;
}

.particular-bottom_card:hover h3 {
  color: greenyellow;
}
.particular-bottom_card:hover {
  cursor: pointer;
}
.particular-bottom_card h3 {
  color: rgb(16, 38, 34);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -3%;
  margin-top: 32px;
  margin-bottom: 16px;
}
.particular-bottom_card p {
  color: rgba(74, 85, 108, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
}

.partuclar-bottom {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  flex-wrap: wrap;
}

.partuclar-bottom_box {
  display: grid;
  gap: 30px;
}

.partuclar-bottom_box_1 {
  display: grid;
  gap: 30px;
  margin-bottom: 30px;
}

.partuclar-bottom_box_2 {
  display: grid;
  gap: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 900px) {
  .partuclar-top h2 {
    font-size: 28px;
  }
  .partuclar-bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .partuclar-bottom_box_2 {
    display: grid;
    gap: 30px;
    margin-top: 0;
  }
}
