.Hero {
  background: rgba(250, 248, 246, 1);
  min-height: 677px;
  padding: 20px 0;
}

.hero-left {
  margin-top: 40px;
}
.hero-inside {
  display: flex;
  align-self: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-subtext {
  margin-top: 66px;
  color: rgba(74, 85, 108, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
  margin-bottom: 10px;
}
.hero-title {
  color: rgba(51, 52, 97, 1);
  font-size: 72px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -1%;
  max-width: 520px;
  width: 100%;
  margin-bottom: 17px;
}
.hero-text {
  color: rgba(74, 85, 108, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  max-width: 545px;
  width: 100%;
  margin-bottom: 18px;
}
button {
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: #37806b;
}

.hero-btn {
  border-radius: 10px;
  background: rgba(32, 173, 150, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  max-width: 250px;
  width: 100%;
  min-height: 42px;
  border: none;
}
@media screen and (max-width: 1300px) {
  .hero-right-box img {
    position: absolute;
    top: 20px;
    right: 50px;
  }
  .hero-title {
    color: rgba(51, 52, 97, 1);
    font-size: 50px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -1%;
    max-width: 520px;
    width: 100%;
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-inside {
    display: grid;
  }
  .hero-right img {
    margin-right: 100px;
    max-width: 600px;
    width: 100%;
    max-height: 200px;
  }
}

@media screen and (max-width: 1100px) {
  .hero-inside {
    display: grid;
  }
}

@media screen and (max-width: 700px) {
  .hero-inside {
    display: grid;
  }
  .hero-right-img {
    min-height: 640px;
    margin-right: 100px;
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
  }
}

@media screen and (max-width: 600px) {
  .hero-inside {
    display: grid;
  }
}

@media screen and (max-width: 500px) {
  .Hero {
    padding: 20px 10px;
  }
  .hero-inside {
    display: grid;
  }
  .hero-right-img {
    min-height: 400px;
    object-fit: contain;
    overflow: hidden;
  }
  .hero-title {
    color: rgba(51, 52, 97, 1);
    font-size: 44px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: -1%;
    max-width: 520px;
    width: 100%;
    margin-bottom: 17px;
  }
  .hero-text {
    font-style: 8px;
  }
}
