.Ready {
  padding: 96px 0;
}

.ready-top {
  margin-bottom: 64px;
}

.ready-top p {
  color: rgba(74, 85, 108, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 12px;
}
.ready-top h2 {
  color: rgba(51, 52, 97, 1);
  font-size: 48px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: -2%;
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}

.ready-text {
  color: rgba(74, 85, 108, 0.7);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  max-width: 460px;
  width: 100%;
}

.ready-bottom_left-box {
  display: flex;
  gap: 16px;
}
.ready-bottom_left-inline-box p {
  color: rgba(102, 112, 133, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  max-width: 496px;
  width: 100%;
  margin-top: 5px;
}

.ready-bottom_left-box img {
  width: 48px;
  height: 48px;
}

.ready-bottom_left-box {
  padding-bottom: 48px;
}
.ready-bottom_left-inline-box h4 {
  color: rgba(51, 52, 97, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
}
.ready-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ready-bottom_right img {
  max-width: 560px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .ready-top h2 {
    font-size: 30px;
    line-height: 40px;
  }
}
