.Clients {
  background: rgba(250, 248, 246, 1);
  min-height: 879px;
  padding: 120px 50px;
}
.clients-title {
  color: rgba(51, 52, 97, 1);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -1%;
  max-width: 540px;
  width: 100%;
  margin-bottom: 37px;
}

.clients-bottom_card {
  flex: 0 0 400px;
  width: 100%;
  min-height: 391px;
  box-shadow: 0px 96px 96px 0px rgba(177, 186, 200, 0.12);
  background: rgba(255, 255, 255, 1);
  padding: 40px;
}

.clients-bottom_card p {
  color: rgba(74, 85, 108, 1);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -3%;
  max-width: 340px;
  width: 100%;
  margin-bottom: 15px;
}

.clients-bottom_card p > span {
  font-weight: 600;
}

.clients-bottom_card h3 {
  color: rgba(51, 52, 97, 1);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -3%;
  margin-bottom: 15px;
}

.clients-bottom_card img {
  max-width: 70px;
  min-height: 70px;
  width: 100%;
  margin-bottom: 15px;
}
.clients-star {
  color: #eeeff3;
}
.clients-card_star-box:hover .clients-star {
  color: #fec84b;
  cursor: pointer;
}

.clients-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .clients-bottom_card {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .clients-title {
    margin-top: 30px;
  }
  .clients-bottom_card p {
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .Clients {
    padding: 20px 0;
  }
  .clients-title {
    font-size: 35px;
    line-height: 40px;
  }
  .clients-bottom_card {
    flex: 0 0 350px;
  }
  .clients-bottom_card p {
    font-size: 16px;
  }
}

@media screen and (max-width: 1300px) {
  .Clients {
    padding: 20px 0;
  }
  .clients-title {
    font-size: 35px;
    line-height: 40px;
  }
  .clients-bottom_card {
    flex: 0 0 350px;
  }
  .clients-bottom_card p {
    font-size: 16px;
  }
}
