.Garant {
  max-width: 540px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.Garant h2 {
  color: rgba(51, 52, 97, 1);
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 24px;
}

.Garant p {
  color: rgba(74, 85, 108, 0.7);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 540px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .Garant p {
    color: rgba(74, 85, 108, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
}
