.Session {
  border-radius: 24px;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04);
  background: rgba(250, 248, 246, 1);
  max-width: 1400px;
  width: 100%;
  min-height: 460px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 48px;
  margin-bottom: 120px;
}

.session-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.session-left h2 {
  color: rgba(51, 52, 97, 1);
  font-size: 28px;
  font-weight: 800;
  line-height: 45px;
  letter-spacing: 0%;
  margin-bottom: 20px;
  max-width: 550px;
  width: 100%;
}
.session-left p {
  color: rgba(74, 85, 108, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 40px;
}
.session-left button {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 9px 93px;
  border-radius: 10px;
  background: rgba(32, 173, 150, 1);
  border: none;
}
.session-right img {
  max-width: 561px;
  width: 100%;
  min-height: 432px;
}
button {
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: #37806b;
}

@media screen and (max-width: 1200px) {
  .session-right img {
    margin-top: 30px;
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .Session {
    padding: 20px 10px;
  }
  .session-left h2 {
    line-height: 40px;
  }
  .session-right img {
    margin-top: 0;
    object-fit: contain;
  }
}
