.discover {
  background: rgba(250, 248, 246, 1);
  padding: 40px 0;
}

.discover-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.discover-left {
  flex: 1;
  min-width: 300px;
}

.discover-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.discover-img-box {
  width: 100%;
  max-width: 600px;
}

.discover-img {
  max-height: 580px;
  max-width: 400px;
  width: 100%;
  object-fit: contain;
  /* display: block; */
  border-radius: 12px;
}

.discover-left p:nth-child(1) {
  color: rgba(74, 85, 108, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
  margin-bottom: 15px;
}

.discover-left h1 {
  color: rgba(51, 52, 97, 1);
  font-size: 72px;
  font-weight: 650;
  line-height: 120%;
  letter-spacing: -1%;
  margin-bottom: 30px;
}

.discover-text {
  color: rgba(46, 59, 86, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (max-width: 1200px) {
  .discover-left h1 {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  .discover-left h1 {
    font-size: 36px;
  }

  .discover {
    padding: 40px 0;
  }
  .discover {
    padding-bottom: 50px;
  }
}
