.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.hader-navigate-box {
  display: block;
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-link {
  text-decoration: none;
  color: rgba(74, 85, 108, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
}

.header-btn {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  border-radius: 4px;
  background: rgba(32, 173, 150, 1);
  padding: 11px 16px;
  border: none;
  height: 40px;
}

.header-menu {
  font-size: 28px;
  display: none;
}
.nav-link:hover {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 800px) {
  .hader-navigate-box {
    display: none;
  }
  .header-menu {
    display: block;
  }
  .toggleNavigate {
    display: grid;
    height: 80px;
  }

  .header-nav {
    align-items: stretch;
  }

  .navigate {
    top: 20px;
    display: grid;
    transform: translateY(30px);
    height: 350px;
    background-color: azure;
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    position: absolute;
  }
  .none {
    display: none;
  }
  .header-btn {
    margin-top: 30px;
  }

  .header-btn {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    border-radius: 4px;
    background: rgba(32, 173, 150, 1);
    padding: 11px 16px;
    border: none;
    height: 40px;
    font-size: 8px;
  }
}
