.Good {
  margin-top: 120px;
}
.good-top {
  text-align: center;
}
.good-top h2 {
  color: rgba(51, 52, 97, 1);
  font-size: 48px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 20px;
}
.good-top p {
  color: rgba(74, 85, 108, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 64px;
}

.good-card-bottom_inline-box h3 {
  color: rgba(16, 24, 40, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  margin-bottom: 5px;
}
.good-card-bottom_inline-box p {
  color: rgba(74, 85, 108, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  max-width: 720px;
  width: 100%;
}

.good-bottom_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #ccc;
  padding-bottom: 32px;
  margin-top: 25px;
}
.questions {
  border-radius: 16px;
  background: rgba(250, 248, 246, 1);
  min-height: 206px;
  padding: 32px 20px;
  text-align: center;
  margin-top: 64px;
}

.questions h3 {
  color: rgba(51, 52, 97, 1);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 5px;
}

.questions p {
  color: rgba(74, 85, 108, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

.questions button {
  box-sizing: border-box;
  border: 1px solid rgba(32, 173, 150, 1);
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: rgba(32, 173, 150, 1);
  max-width: 250px;
  width: 100%;
  min-height: 44px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
}
button {
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: #37806b;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}

.accordion-content.open {
  max-height: 200px; /* kerakli balandlikni taxminan beramiz */
  opacity: 1;
}

.good-bottom_card {
  display: flex;
  align-items: start;
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 20px 0;
}

.good-card-bottom_inline-box p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
}
.good-bottom {
  min-height: 500px;
}

@media screen and (max-width: 500px) {
  .good-bottom_card {
    display: flex;
    gap: 15px;
  }
  .good-card-bottom_inline-box p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 400px) {
  .good-bottom_card {
    display: flex;
    gap: 15px;
  }
  .good-card-bottom_inline-box p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 300px) {
  .good-bottom_card {
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
  }
  .good-card-bottom_inline-box p {
    font-size: 12px;
    margin-bottom: 10px;
  }
}
