@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scrollbar-width: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
button {
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: #37806b;
}

html {
  scroll-behavior: smooth;
}
