.Work {
  margin: 120px 0;
}
.work-top {
  text-align: center;
}
.work-subtext {
  color: rgba(74, 85, 108, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.work-title {
  color: rgba(51, 52, 97, 1);
  font-size: 36px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 20px;
}
.work-text {
  color: rgba(74, 85, 108, 0.7);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}
.work-bottom_card {
  max-width: 384px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.work-bottom_card img {
  margin-bottom: 20px;
}
.work-bottom_card h3 {
  color: rgba(51, 52, 97, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 15px;
}

.work-bottom_card p {
  color: rgba(102, 112, 133, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.work-bottom {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 1200px) {
  .work-bottom {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .work-bottom {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 30px;
  }
  .work-title {
    font-size: 24px;
  }
  .work-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .work-bottom {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 30px;
  }
  .work-bottom_card {
    margin-bottom: 30px;
  }
}
