.Discover {
  background: rgba(250, 248, 246, 1);
  padding: 15px 30px 50px;
}
.discover-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.discover-right img {
  max-width: 600px;
  width: 100%;
  min-height: 200px;
}

.discover-left p:nth-child(1) {
  color: rgba(74, 85, 108, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -2%;
  margin-bottom: 15px;
}

.discover-left h1 {
  color: rgba(51, 52, 97, 1);
  font-size: 65px;
  font-weight: 650;
  line-height: 120%;
  letter-spacing: -1%;
  max-width: 560px;
  width: 100%;
  margin-bottom: 30px;
}
.discover-text {
  color: rgba(46, 59, 86, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  max-width: 545px;
  width: 100%;
}
.aboutme-btn {
  border-radius: 10px;
  background: rgba(32, 173, 150, 1);
  max-width: 250px;
  width: 100%;
  min-height: 42px;
  border: none;
  color: white;
  margin-top: 23px;
}

@media screen and (max-width: 1200px) {
  .discover-left h1 {
    font-size: 40px;
  }
  .discover-right img {
    min-height: 400px;
    min-width: 300px;
    width: 100%;
  }
  .Discover {
    background: rgba(250, 248, 246, 1);
    padding: 40px 0;
  }
}
