.Potential {
  margin-top: 123px;
}
.potential-inside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.potential-left h2 {
  color: rgba(51, 52, 97, 1);
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -1%;
  max-width: 530px;
  width: 100%;
  margin-bottom: 22px;
}

.potential-left p {
  max-width: 530px;
  width: 100%;
  color: rgba(74, 85, 108, 1);
  font-size: 17px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
}
.potential-left p:nth-child(1) {
  margin-bottom: 37px;
}

.potential-left p {
  margin-top: 16px;
  max-width: 500px;
  width: 100%;
}
.potential-left button {
  border-radius: 10px;
  background: rgba(32, 173, 150, 1);
  max-width: 250px;
  width: 100%;
  min-height: 42px;
  margin-top: 22px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}

.potential-right img {
  max-width: 478px;
  width: 100%;
  min-height: 616px;
}

@media screen and (max-width: 600px) {
  .potential-left h2 {
    font-size: 30px;
    line-height: 40px;
  }
}
